<div *ngFor="let prof of profile">
  <!-- <div class="card bg-dark text-white ">
    <img  class="col-sm-12 col-md-12 col-lg-12" src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg" alt="Card Image">

  </div> -->
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="card text-white" style="margin-bottom:0;">
            <img class="card-img" src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg" alt="Card image">
            <div class="card-img-overlay">
              <div class="row">
                <div class="col-sm-3 user-image">
                  <img class="rounded-circle align-bottom" src="{{prof.image}}" alt="alt text" width="170" height="170"
                    style="margin-top: 140px;">
                </div>
                <div class="col-sm-5">
                  <table class="table" style="margin-top: 200px;">
                    <tr>{{prof.user.full_name}}</tr>
                    <tr>({{prof.username}})</tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <nav class="navbar navbar-expand-sm bg-light">
      
                <!-- Links -->
                <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link" routerLink="/login">About</a>
                  <a class="nav-item nav-link" routerLink="/login">Photos</a>
                  <a class="nav-item nav-link" routerLink="/login">Videos</a>
                </div>
      
              </nav>
            </div>
          </div>
    </div>
    <div class="col-sm-4 cont">
      <div class="card">
          <h4 class="text-center">Your Reviews</h4>
      </div>     
      <div *ngFor="let review of prof.reviews">
        <div class="card p-3 text-center">
          <blockquote class="blockquote mb-0">
            <p>{{review.review}}</p>
            <footer class="blockqoute-footer">
              <small class="text-muted">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <cite title="Source Title">
                      {{review.updated_at}}
                    </cite>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <cite title="Source Title">
                      {{review.user.full_name}}
                    </cite>
                  </div>
                </div>
              </small>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>