<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
  </div>
  <div class="navbar-nav ml-auto">
      <!-- <a class="nav-item nav-link" routerLink="/registration">Registration</a> -->
      <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser">login</a>
      <a class="nav-item nav-link" routerLink="/dashboard" *ngIf="currentUser">Dashboard</a>
      <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">logout</a>
  </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 offset-sm-1">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>


